SECRET_KEY=your-secret-key-here
DEBUG=True
DB_HOST=db
DB_NAME=community_db
DB_USER=community_user
DB_PASSWORD=community_password
DB_PORT=3306
FRONTEND_URL=http://localhost:3000/
DEBUG=True
mysql_db_ur=True